/* Police d'écriture */

* {
    font-family: 'Raleway';
}

@font-face {
    font-family: 'Raleway';
    font-weight: bold;
    font-style: normal;
    src: url('fonts/static/Raleway-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/static/Raleway-Thin.ttf') format('truetype');
    src: url('fonts/static/Raleway-Light.ttf') format('truetype');
    src: url('fonts/static/Raleway-Regular.ttf') format('truetype');
}

body {
    margin-left: 20px;
}

/* Suppression des caractères spéciaux de tous les liens */
a {
    text-decoration: none;
}



/* Icône type Fas */
.fas {
    color: #0065FC;
}


/* Logo de Reservia */
.logoBooki {
    position: relative;
    top: 20px;
}



/* Barre de Navigation */
.barreDeNavigation {
    margin-right: 5em;
    display: flex;
    justify-content: flex-end;
}
/* Section Hebergement */
.bdnHebergements {
    font-size: large;
    font-weight: 500;
    padding: 40px;
    color: #0065FC;
    border-top: solid 3px #0065FC;
    padding-top: 59px;
}

.bdnHebergements:hover {
    color: #0065FC;
    border-top: solid 3px #0065FC;
    padding-top: 59px;
}
/* Section Activites */
.bdnActivites {
    font-size: large;
    font-weight: 500;
    padding: 40px;
    color: black;
}

.bdnActivites:hover {
    color: #0065FC;
    border-top: solid 3px #0065FC;
    padding-top: 59px;
}



/* Titre principal et sous titre */
.premierTitre {
    position: relative;
    top: 10px;
}

.sousTitre {
    padding-bottom: 20px;
}



/* Barre de recherche */
form {
    display: inline-flex;
    position: relative;
    bottom: 14px;
}
/* Logo de map */
.fa-map-marker-alt {
    color: black;
    background-color: #F2F2F2;
    padding: 1.2rem 1.30rem;
    border-radius: 1rem 0 0 1rem;
}
/* Zone de Saisie */
.zoneDeSaisie {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0.85rem;
    width: 14.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}
/* Bouton de Recherche */
.boutonDeRecherche {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1.2rem;
    cursor: pointer;
}

/* Section des Categories de Recherche */

.sectionFiltres {
    display: flex;
    text-align: center;
}

.categories {
    display: flex;
    padding-left: 40px;
    position: relative;
    top: 1px;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.economique {
    display: flex;
    border: solid 3px #F2F2F2;
    width: 180px;
    height: 50px;
    border-radius: 3em 3em 3em 3em;
}

.textEco {
    padding-top: 14px;
    padding-right: 300px;
}

.economique:hover {
    background-color: #DEEBFF;
}

.fa-money-bill-wave {
    background-color: #DEEBFF;
    border-radius: 50px 0 0 50px;
    margin-right: 10px;
    padding-right: 14px;
    padding-left: 14px;

}

.fa-money-bill-wave::before {
    position: relative;
    top: 16px;
}









    







